@model Facebook.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New Post</h2>


@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Add Photo</div>
            <div class="col-md-10">
                <input type="file" id="imgFile" name="imgFile" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.privacy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> lst = new List<SelectListItem>();
                    lst.Add(new SelectListItem { Text = "Public", Value = "Public" });
                    lst.Add(new SelectListItem { Text = "Private", Value = "Private" });
                }

                @Html.DropDownListFor(model => model.privacy, lst, "__Select privacy__", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.privacy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-top:10px" />
                <a href="@Url.Action("Index")" class="btn btn-danger" style="margin-top:10px">Back</a>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
